* {
  background-color: black;
}

h1,
.download,
h2,
.personal,
#remembers,
.images {
  text-align: center;
}

h1 {
  color: white;
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
}

.download {
  color: Aquamarine;
  font-size: 16px;
}

h2 {
  color: white;
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
}

#remembers {
  color:Gray;
  font-family: Verdana;
  font-size: 21px;
}

.trademark {
  color: Gray;
  text-align: right;
}
